<nav class="navbar navbar-expand-lg" style="background-color: #F1EEE6;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item active">
        <a class="nav-link" href="/">Your astrology!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tarot">Draw a tarot card!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/readings">Claimed fortunes!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manifest">Manifest!</a>
      </li>
    </ul>
  </div>
</nav>
