<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #F1EEE6;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item active">
        <a class="nav-link" href="/">Tell us about yourself!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tarot">Draw a new tarot card!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/readings">Claimed Fortunes!</a>
      </li>
    </ul>
  </div>
</nav>
