<nav class="navbar navbar-expand-lg" style="background-color: #F5F3EE;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-center">
      <li class="nav-item active">
        <a class="nav-link" href="/login">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/manifest">Manifest</a>
      </li>
      <% if(user){ %>
      <li class="nav-item">
        <a class="nav-link" href="/astrologyEntry">Enter Your Signs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/astrologyInfo">Astrological Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/horoscope">Daily Horoscope</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/drawCard">Tarot</a>
      </li>
      <% } %>

    </ul>

  </div>
</nav>
