<html>
<%- include('../partials/header', {title:"Your Card Is Drawn"}) -%>

<h2>You drew the ___ card!</h2>
<br>
<div id="cardDrawn">
<h4>[IMAGE OF CARD] </h4>
</div>
<div id = "tarotBoxes2">
<h4>The ___ card symbolizes ___ and is commonly associated with ___.</h4>
<h4>As a [insert user's sign], this card suggests that ___ is in your future.</h4>
</div>

<br>

<div id="newPageButtons">
  <a href="/visualize">VISUALIZE YOUR READING</a>
</div>


<%- include('partials/footer') -%>
</html>
