<html>
<%- include('partials/header', {title:"Share Your Visualization"}) -%>

<h2>Share your visualization!</h2>
<div id="newPageButtons">
  <a href="">USE INSTAGRAM TO SHARE YOUR VISUALIZATION</a>
</div>
<br>
<%- include('partials/footer') -%>
</html>
