<%- include('partials/header' , {title:"ABOUT"}) -%>

<div id = "FAQ">
<div id = "astrologyQ">
  <h3>Why learn about astrology?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "About">
  <h3>About StarStruck</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "tarotQ">
  <h3>What are tarot cards?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "manifestQ">
  <h3>Why Manifest?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<%- include('partials/footer') -%>
