<%- include('partials/header', {title:"Keep your friends close..."}) -%>


<h2>Keep your friends close...</h2>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Tarot Readings
    </th>
    <th>
      Zodiac Information
    </th>
    <th>
      Compatability
    </th>
  </tr>

  <tr>
  <th>
    Lux
  </th>
  <th>
    The Moon & The Star
  </th>
  <th>
    Aquarius
  </th>
  <th>
    Watch your back...
  </th>
  </tr>
</table>
<br>

<button type="button" class="connectButton">ADD A NEW FRIEND</button>
<br>
<br>


  <%- include('partials/footer') -%>
