<html>
<%- include('partials/header', {title:"Dare to draw a card?"}) -%>

  <body>
    <h2>Do you dare to learn what the cards have in store for you?</h2>

    <form action="/drawCard" method="POST">
      <input type="submit" value="DRAW A CARD">
    </form>


  </body>

<%- include('partials/footer') -%>
</html>
