<html>
<%- include('partials/header', {title:"Dare to draw a card?"}) -%>

  <body>
    <h2>Do you dare to learn what the cards have in store for you?</h2>

<div id="newPageButtons">
    <a href="/cardDrawn">DRAW A CARD</a>
</div>

  </body>

<%- include('partials/footer') -%>
</html>
