<%- include('partials/header', {title:"Page not found"}) -%>

<img src = "images/wilde.png" height="500">

<h2> <%=errorCode%> Error</h2>
<p> The resource you requested has not been found.</p>

<%- include('partials/footer') -%>
