<%- include('partials/header', {title:"Create Opponent"}) -%>

<h2>Tell us a little about yourself!</h2>

<form action="/" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="userName" value=""><br>
  <label for="birthday">Birthday:</label>
  <input type="text" id="birthday" name="userBday" value=""><br>
  <label for="sunSign">Sun Sign:</label>
  <input type="text" id="sunSign" name="userSun" value=""><br>
  <label for="moonSign">Moon Sign:</label>
  <input type="text" id="moonSign" name="userMoon" value=""><br>
  <label for="risingSign">Rising Sign:</label>
  <input type="text" id="risingSign" name="userRising" value=""><br>
  <br><br>
  <input type="submit" value="Create a new user!">

</form>

<%- include('partials/footer') -%>
