<%- include('partials/header', {title:"About you!"}) -%>

<h2>Tell us a little about yourself!</h2>

<form action="/" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="userName" value=""><br>
  <label for="birthday">Birthday (mm/dd/yyyy):</label>
  <input type="text" id="birthday" name="userBday" value=""><br>
  <label for="sunSign">Sun Sign:</label>
  <select name="userSun" id="sunSign">
    <option value="capricorn">Capricorn</option>
    <option value="aquarius">Aquarius</option>
    <option value="pisces">Pisces</option>
    <option value="aries">Aries</option>
    <option value="taurus">Taurus</option>
    <option value="gemini">Gemini</option>
    <option value="cancer">Cancer</option>
    <option value="leo">Leo</option>
    <option value="virgo">Virgo</option>
    <option value="libra">Libra</option>
    <option value="scorpio">Scorpio</option>
    <option value="sagittarius">Sagittarius</option>
  </select>
  <br>
  <label for="moonSign">Moon Sign:</label>
  <select name="userMoon" id="moonSign">
    <option value="capricorn">Capricorn</option>
    <option value="aquarius">Aquarius</option>
    <option value="pisces">Pisces</option>
    <option value="aries">Aries</option>
    <option value="taurus">Taurus</option>
    <option value="gemini">Gemini</option>
    <option value="cancer">Cancer</option>
    <option value="leo">Leo</option>
    <option value="virgo">Virgo</option>
    <option value="libra">Libra</option>
    <option value="scorpio">Scorpio</option>
    <option value="sagittarius">Sagittarius</option>
  </select>
  <br>
  <label for="risingSign">Rising Sign:</label>
  <select name="userRising" id="risingSign">
    <option value="capricorn">Capricorn</option>
    <option value="aquarius">Aquarius</option>
    <option value="pisces">Pisces</option>
    <option value="aries">Aries</option>
    <option value="taurus">Taurus</option>
    <option value="gemini">Gemini</option>
    <option value="cancer">Cancer</option>
    <option value="leo">Leo</option>
    <option value="virgo">Virgo</option>
    <option value="libra">Libra</option>
    <option value="scorpio">Scorpio</option>
    <option value="sagittarius">Sagittarius</option>
  </select>
  <br><br>
  <input type="submit" value="Create a new user!">

</form>
<br>

<%- include('partials/footer') -%>
