<%- include('partials/header', {title:"About you!"}) -%>

<h2>Tell us a little about yourself!</h2>

<form action="/" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="userName" value=""><br>
  <label for="birthday">Birthday:</label>
  <input type="date" id="birthday" name="userBday" value="">

  <br>
  <label for="sunSign">Sun Sign:</label>
  <select name="userSun" id="sunSign">
    <option value="Capricorn">Capricorn</option>
    <option value="Aquarius">Aquarius</option>
    <option value="Pisces">Pisces</option>
    <option value="Aries">Aries</option>
    <option value="Taurus">Taurus</option>
    <option value="Gemini">Gemini</option>
    <option value="Cancer">Cancer</option>
    <option value="Leo">Leo</option>
    <option value="Virgo">Virgo</option>
    <option value="Libra">Libra</option>
    <option value="Scorpio">Scorpio</option>
    <option value="Sagittarius">Sagittarius</option>
  </select>
  <br>
  <label for="moonSign">Moon Sign:</label>
  <select name="userMoon" id="moonSign">
    <option value="Capricorn">Capricorn</option>
    <option value="Aquarius">Aquarius</option>
    <option value="Pisces">Pisces</option>
    <option value="Aries">Aries</option>
    <option value="Taurus">Taurus</option>
    <option value="Gemini">Gemini</option>
    <option value="Cancer">Cancer</option>
    <option value="Leo">Leo</option>
    <option value="Virgo">Virgo</option>
    <option value="Libra">Libra</option>
    <option value="Scorpio">Scorpio</option>
    <option value="Sagittarius">Sagittarius</option>
  </select>
  <br>
  <label for="risingSign">Rising Sign:</label>
  <select name="userRising" id="risingSign">
    <option value="Capricorn">Capricorn</option>
    <option value="Aquarius">Aquarius</option>
    <option value="Pisces">Pisces</option>
    <option value="Aries">Aries</option>
    <option value="Taurus">Taurus</option>
    <option value="Gemini">Gemini</option>
    <option value="Cancer">Cancer</option>
    <option value="Leo">Leo</option>
    <option value="Virgo">Virgo</option>
    <option value="Libra">Libra</option>
    <option value="Scorpio">Scorpio</option>
    <option value="Sagittarius">Sagittarius</option>
  </select>
  <br><br>
  <input type="submit" value="Create a new user!">

</form>
<br>

<%- include('partials/footer') -%>
