<%- include('partials/header', {title:"Create Opponent"}) -%>

<h2>Tell us a little about yourself!</h2>

<form action="/" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="opponentName" value=""><br>
  <label for="photo">Link to Photo:</label>
  <input type="text" id="photo" name="opponentPhoto" value=""><br>
  <br><br>
  <input type="submit" value="Create a new user!">

</form>

<%- include('partials/footer') -%>
