<%- include('partials/header', {title:"Saved Readings"}) -%>
<h2> I, <%=name%>, claim the following future: </h2>
<% for (let i=0; i<666; i++) { %>
<h2> <%=manifest%> </h2>
<% i+=1; %>
<% } %>
<%- include('partials/footer') -%>
