<%- include('partials/header' , {title:"Login"}) -%>

<h2>Login</h2>

<div id = "login">
  <form>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" value=""><br>
  <label for="password">Password:</label>
  <input type="date" id="password" name="password" value=""><br>
</form>
</div>

<div id = "FAQ">
<div id = "astrologyQ">
  <h3>Why learn about astrology?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "About">
  <h3>About StarStruck</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "tarotQ">
  <h3>What are tarot cards?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

<div id = "manifestQ">
  <h3>Why Manifest?</h3>
  <p> text text text text text text text text text text text text text text text text text text </p>
</div>

</div>
<br>
<%- include('partials/footer') -%>
