<%- include('partials/header', {title:"Manifest your future!"}) -%>

<h2>The cards know much, but not everything... Claim agency over your future with a manifestation</h2>

<div id = "manifestDiv">
<form action="/loadManifestations" method="GET">
  <label for="name">Name:</label>
  <input type="text" id="name" name="manifestName" value=""><br>
  <label for="manifest">Manifestation:</label>
  <input type="text" id="manifest" name="manifest" value=""><br>
  <input type="submit" id="submitManifest" value="Dream your manifestation into reality!">
</form>
</div>

<br>

<%- include('partials/footer') -%>
