<%- include('partials/header', {title:"Tell us about you!"}) -%>

<h2>We want to know more... Fill in the categories below to get your reading.</h2>

<form action="/opponentCreate" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="opponentName" value=""><br>
  <label for="photo">Link to Photo:</label>
  <input type="text" id="photo" name="opponentPhoto" value=""><br>
  <br><br>
  <input type="submit" value="Create a new opponent!">

</form>

<%- include('partials/footer') -%>
