<html>
<%- include('partials/header', {title:"Dare to draw a card?"}) -%>

<h2>Share your visualization!</h2>
<div id="tarotBoxes2">
<h4>This page uses the Meta API to allow you to post your visualization of your tarot reading to your instagram story.</h4>
</div>
<br>
<%- include('partials/footer') -%>
</html>
