body {
  background-color: #003366;
  font-size: 18px;
  color: #C0C0C0;
  font-family: 'Optima', sans-serif;
}

h1 {
  margin-top: 25px;
  background-color: #003366;
  font-size: 75px;
  text-align: center;
  color:#BBC2CC;
  font-family: crayonnette;
}

nav{
  font-size: 20px;
  text-align: center;
  color:#C0C0C0;
  border-top: 1.5px solid #BDABBE;
  border-bottom: 1.5px solid #BDABBE;
}

div {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #260047;
  overflow: auto;
}

button {
  background-color: #faf9cd;
  font-size: 50px;
  border-radius: 6px;
  border: 2px solid #012a47;
  padding: 7px 12px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  background-color: #003366;
  margin: auto;
  width: 50%;
  color: #BBC2CC;
}

table, th, td {
  border: 0px;
  padding: 30px;
  text-align: center;
}

tr:hover {
  background-color: #ccfff2;
}

a {
  color: #000000;
}

a:hover {
  color: #00ccb1;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: 50%;
  text-align: center;
  border-top: 3px solid #BDABBE;
}

form{
  padding: 20px;
}

@font-face {
    font-family: 'crayonnette';
    src: url('/images/Crayonnette.ttf');
}
