<%- include('../partials/header' , {title:"Astrology Chart"}) -%>

<h2>Tell us a little about yourself!</h2>
<br>
<div id = "astrologyForm">
<form action="/astrologyEntry" method="POST">

  <label for="userName">Name:</label>
  <input type="text" id="userName" name="userName" value=""><br>
  <label for="birthDay">Birthday:</label>
  <input type="date" id="birthDay" name="birthDay" value=""><br>
  <label for="birthPlace">Place of birth (latitude):</label>
  <input type="text" id="birthPlace" name="birthPlace" value=""><br>
  <label for="birthPlace">Place of birth (longitude):</label>
  <input type="text" id="birthPlace" name="birthPlace" value=""><br>

  <label for="birthTime">Time of birth: </label>

  <input type="time" id="birthTime" name="birthTime"
         min="0:00" max="24:00" required> <br>
<input type="submit" value="Create a new user!">
</form>
</div>

<!--  <div class="input-group clockpicker">
   <label for="birthTime">Time of Birth:</label>
    <input type="text" class="form-control" value="09:30">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
    </span>
  </div>
  <script type="text/javascript">
  $('.clockpicker').clockpicker();
  </script>
  <input type="submit" value="Create a new user!">
</form>
</div>

<div id = "astrologyChart">
  <img id="astrologyChart" src = "images/chart.png" height="500">
</div>

</div> -->

<br>
<%- include('../partials/footer') -%>
