<%- include('../partials/header', {title:"Horoscope"}) -%>
<h2> Your Daily Horoscope </h2>
<p> Your daily horoscope is calculated based on your sun sign and the position of the planets.
  <br>
  Your sun sign is <%= data[user._json.email].sunSign %> and below is your daily horoscope. </p>
<%- include('../partials/footer') -%>
